@using SailbotVSv3.ViewModels
@model WindViewModel

<h1>@Model.title</h1>
<h2>@Model.date</h2>

@{
    foreach (var wind in Model.winds)
    {
        <div>Sensor ID: @wind.WindDirection</div>
        <br />
        <div>Voltage: @wind.Voltage</div>
        <br />
        <div>Update Time: @wind.UpdatedTime</div>
        <br />
    }
}
